---
import Layout from "../layouts/Layout.astro";
import Conversemos from "../components/Conversemos.astro";
import "../styles/font-icons.css";
import "../styles/animate.css";
---

<Layout title="Áreas Verdes - Cultiva Empresa">
  <main>
    <section
      class="text-white h-[100vh] bg-verde bg-[url(/uploads/2022/03/fondo-areas-verdes.jpg)] bg-cover bg-center flex items-center justify-start"
    >
      <div class="w-full max-w-screen-xl mx-auto">
        <h1 class="font-medium text-2xl">Áreas Verdes</h1>
        <hr class="border-t-2 w-16 my-4" />
        <h2 class="font-medium text-4xl max-w-[800px]">
          Desarrollamos el servicio de manejo y mantención de áreas verdes, y
          mejoramiento de espacios públicos, con alta eficiencia operativa, y
          especial énfasis en el desarrollo humano de colaboradores y
          comunidades.
        </h2>
      </div>
      <a
        href="#que"
        class="hidden xl:block dark one-page-arrow absolute bottom-8 left-0 right-0 mx-auto text-right pr-16"
        ><i class="icon-line-arrow-down infinite animated fadeInDown text-3xl"
        ></i></a
      >
    </section>

    <section
      id="que"
      class="max-w-screen-xl mx-auto grid grid-cols-3 gap-12 py-20"
    >
      <div>
        <h2 class="text-verde text-3xl font-medium tracking-wide">
          ¿Cómo lo hacemos?
        </h2>
        <hr class="w-16 border-t-2 border-verde my-4" />
        <p class="text-lg font-light text-neutral-500 my-12">
          En Cultiva contamos con una gran orientación en las personas, nos
          comprometemos a fomentar una relación laboral, cordial, amable y
          respetuosa, conformando equipos firmes y estables para la mantención
          de las áreas verdes asignadas, entendiendo que las personas son la
          base de nuestro propósito.
        </p>
      </div>
      <div class="text-verde pt-12">
        <p class="mb-8">
          Nuestro servicio de Mantención de áreas verdes contempla:
        </p>
        <ul class="list-disc">
          <li>
            Recuperación de los espacios concesionados que requiera cada
            municipio.
          </li>
          <li>
            Mantención, reparación y reposición de especies vegetales,
            equipamiento e infraestructura de los espacios concesionados (aseo,
            riego, césped, arbolado, arbustos, mobiliario, etc).
          </li>
          <li>
            Atención oportuna a las necesidades y emergencias que se presenten
            en estos espacios.
          </li>
          <li>
            Realización de gestión sustentable para los residuos generados en
            las áreas verdes.
          </li>
          <li>
            Mantención de un lazo cercano con las diferentes comunidades que
            involucra el espacio urbano en el que nos encontremos, vinculándolos
            participativamente en la mantención y mejoramiento de los espacios.
          </li>
        </ul>
      </div>
      <div class="text-verde pt-12">
        <p>
          Tenemos un fuerte compromiso socioambiental con las comunidades y en
          los territorios; creemos firmemente en que la transformación de la
          calidad de vida parte en un entorno favorable, por eso fomentamos la
          vida sana y participativa entre los grupos que conforman la comunidad,
          haciendo de las áreas verdes un punto de encuentro y buenas relaciones
          entre vecinos, generando así un mejor vivir para el entorno.
        </p>
      </div>
    </section>

    <section class="bg-verde text-white">
      <div class="max-w-screen-xl mx-auto grid grid-cols-3 gap-8 py-20">
        <div>
          <h2 class="text-3xl font-medium tracking-wide">Nuestro equipo</h2>
          <hr class="w-16 border-t-2 border-white my-4" />
          <p class="text-xl font-light max-w-md">
            Disponemos de profesionales altamente calificados y comprometidos,
            que forman equipos en las diversas comunas en las que trabajamos.
          </p>
        </div>
        <div class="pt-4">
          <p class="my-8">
            El equipo se compone de jardineros, cortadores de pasto, podadores,
            gasfiter, albañiles, choferes, y todos los cargos que se requieran
            para llevar una mantención de excelencia.
          </p>
          <p class="my-8">
            Priorizamos trabajar con personas de las mismas comunas, para así
            vincular a la comunidad tanto dentro como fuera de nuestra empresa.
          </p>
        </div>
        <div class="pt-4">
          <p class="my-8">
            La inclusión de género, etaria, migratoria y de personas con
            discapacidad son parte de nuestras prioridades, ponemos énfasis en
            la incorporación de cada uno de estos aspectos a la hora de
            conformar nuestros equipos de trabajo.
          </p>
          <p class="my-8">
            Fomentamos un espíritu de trabajo digno, apoyando en materias como
            la alfabetización, el acompañamiento de asesorías legales, etc.
          </p>
        </div>
      </div>
    </section>
    <section class="text-verde">
      <h2 class="text-3xl font-medium tracking-wide pt-16 text-center">
        Algunos de nuestros proyectos
      </h2>
      <hr class="w-16 border-t-2 border-verde my-4 mx-auto" />
      <div class="w-full max-w-screen-xl mx-auto pt-12 pb-20">
        <ul class="[&>li]:my-4">
          <li>
            <i class="icon-line-arrow-right mr-2"></i> Recoleta: 355.684 m2 de áreas
            verdes, equipo de 85 personas.
          </li>
          <li>
            <i class="icon-line-arrow-right mr-2"></i> San Joaquín: 321.919 m2 de
            áreas verdes, equipo de 88 personas
          </li>
        </ul>
      </div>
    </section>

    <Conversemos />
  </main>
</Layout>
