---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cultiva Empresa">
  <main>
    <section class="grid grid-cols-4 text-white text-center h-[100vh]">
      <a
        href="#"
        class="columna bg-[url('/img/home/home-01.jpg')] bg-cover bg-scroll flex flex-col justify-end"
      >
        <div class="bg-gradient">
          <h2 class="text-xl text-shadow">Plan de Manejo <br /> Forestal</h2>
          <div class="h-48 mt-4">
            <img
              src="/img/home/elementos/home-04.png"
              alt="icono"
              class="w-24 mx-auto"
            />
          </div>
        </div>
      </a>
      <a
        href="#"
        class="columna bg-[url('/img/home/home-02.jpg')] bg-cover bg-scroll flex flex-col justify-end"
      >
        <div class="bg-gradient">
          <h2 class="text-xl text-shadow">
            Plan de Compensación <br /> de Emisiones
          </h2>
          <div class="h-48 mt-4">
            <img
              src="/img/home/elementos/home-05.png"
              alt="icono"
              class="w-20 mx-auto"
            />
          </div>
        </div>
      </a>
      <a
        href="#"
        class="columna bg-[url('/img/home/medicion.jpg')] bg-cover bg-scroll flex flex-col justify-end"
      >
        <div class="bg-gradient">
          <h2 class="text-xl text-shadow">
            Medición y Compensación <br />Huella de Carbono
          </h2>
          <div class="h-48 mt-4">
            <img
              src="/img/home/elementos/home-06.png"
              alt="icono"
              class="w-16 mx-auto"
            />
          </div>
        </div>
      </a>
      <a
        href="#"
        class="columna bg-[url('/img/home/areas-verdes-home.jpg')] bg-cover bg-scroll flex flex-col justify-end"
      >
        <div class="bg-gradient">
          <h2 class="text-xl text-shadow">Áreas Verdes</h2>
          <div class="h-48 mt-4">
            <img
              src="/img/home/elementos/home-04.png"
              alt="icono"
              class="w-24 mx-auto"
            />
          </div>
        </div>
      </a>
    </section>

    <section
      class="text-center bg-[url(/uploads/2019/04/foto-home.jpg)] bg-cover text-white py-16"
    >
      <h2 class="text-3xl font-medium tracking-wide">
        Somos <br /> Cultiva Empresa
      </h2>
      <hr class="w-16 mx-auto border-t-2 my-4" />
      <p class="max-w-xl mx-auto text-xl font-light mb-12">
        Somos una empresa de impacto positivo que desde el año 2010 elaboramos e
        implementamos las compensaciones ambientales de nuestros clientes que
        derivan de las normativas vigentes, en forma eficaz y confiable.
      </p>
      <p>
        <a
          href="https://www.youtube.com/watch?v=1qNQ_PWEeZE"
          data-lightbox="iframe"
        >
          <img
            src="/img/home/elementos/home-10.png"
            alt="Play"
            class="w-16 mx-auto"
          />
        </a>
      </p>
    </section>

    <section class="max-w-screen-lg mx-auto px-4">
      <h2
        class="text-verde text-center text-3xl font-medium tracking-wide mt-16"
      >
        Han confiado en nosotros
      </h2>
      <hr class="w-16 mx-auto border-t-2 border-verde my-6" />
      <ul class="grid grid-cols-4 mt-10 mb-32">
        <li>
          <img src="/uploads/2019/04/home-12.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-13.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-14.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-15.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-16.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-17.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-18.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-19.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-20.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-21.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/04/home-22.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/05/bechtel-logo.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/05/colegioaleman-logo.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/05/melon-logo.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/05/pocuro-logo.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/05/santiagocollege-logo.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/05/sinergia-logo.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/05/tinguiririca-logo.jpg" alt="" />
        </li>
        <li>
          <img src="/uploads/2019/05/vidanueva-logo.jpg" alt="" />
        </li>
      </ul>
    </section>
  </main>
</Layout>
