---
import Layout from "../layouts/Layout.astro";
import Conversemos from "../components/Conversemos.vue";
import "../styles/font-icons.css";
import "../styles/animate.css";
---

<Layout title="Plan de Compensación de Emisiones - Cultiva Empresa">
  <main>
    <section
      class="text-white h-[100vh] bg-verde bg-[url(/uploads/2019/04/plan_compensación_emisiones-slider1.jpg)] bg-cover bg-center flex items-center justify-start"
    >
      <div class="w-full max-w-screen-xl mx-auto px-8 xl:px-0">
        <h1 class="font-medium text-lg xl:text-2xl">
          Plan de Compensación de Emisiones
        </h1>
        <hr class="border-t-2 w-16 my-4" />
        <h2 class="font-medium text-2xl xl:text-4xl max-w-[800px]">
          Acompañamos y gestionamos la elaboración y aprobación de su PCE
        </h2>
      </div>
      <a
        href="#que"
        class="hidden xl:block dark one-page-arrow absolute bottom-8 left-0 right-0 mx-auto text-right pr-16"
        ><i class="icon-line-arrow-down infinite animated fadeInDown text-3xl"
        ></i></a
      >
    </section>

    <section
      id="que"
      class="max-w-screen-xl mx-auto grid xl:grid-cols-5 gap-8 py-20 px-8 xl:px-0"
    >
      <div class="flex xl:hidden items-end pb-8">
        <img
          src="/img/emisiones/elementos/plancompensacion-01.png"
          alt="emisiones"
          class="w-24"
        />
      </div>
      <div class="xl:col-span-2">
        <h2 class="text-verde text-2xl xl:text-3xl font-medium tracking-wide">
          ¿Qué es un PCE?
        </h2>
        <hr class="w-16 border-t-2 border-verde my-4" />
        <p class="xl:text-xl font-light text-neutral-500">
          El Plan de Compensación de Emisiones es un instrumento legal exigido a
          todo proyecto que en sus distintas fases, ya sea en la construcción u
          operación del mismo.
        </p>
      </div>
      <div class="xl:col-span-2 text-sm text-verde">
        <p class="xl:mt-20">
          El PCE supera la norma establecida de emisión de MP10 (Material
          Particulado) y Nox. (Óxidos de nitrógeno. Este plan tiene por
          finalidad producir un efecto positivo equivalente a ese efecto
          adverso, que no sea posible mitigar o reparar.
        </p>
        <p class="my-8">
          Esta exigencia se desprende del Plan de Prevención y/o
          Descontaminación Atmosférica de distintas regiones en Chile, con el
          objetivo de contribuir a la descontaminación del aire. Este
          instrumento se gestiona y es fiscalizado por la Seremi de
          Medioambiente de la región.
        </p>
      </div>
      <div class="hidden xl:flex items-end pb-16">
        <img
          src="/img/emisiones/elementos/plancompensacion-01.png"
          alt="emisiones"
          class="w-40"
        />
      </div>
    </section>

    <section class="bg-verde text-white">
      <div
        class="max-w-screen-xl mx-auto grid xl:grid-cols-2 xl:gap-8 py-20 px-8 xl:px-0"
      >
        <div>
          <h2 class="text-2xl xl:text-3xl font-medium tracking-wide">
            ¿Cómo lo hacemos?
          </h2>
          <hr class="w-16 border-t-2 border-white my-4" />
          <p class="xl:text-xl font-light max-w-md">
            Acompañamos al titular en la elaboración y desarrollo de su Plan de
            Compensación de Emisiones, para MP10 y NOX.
          </p>
          <p class="my-8">
            Gestionamos su aprobación ante la autoridad y ejecutamos las
            acciones compensatorias comprometidas. Todo de acuerdo a lo indicado
            en la normativa del Plan de Prevención y Descontaminación
            Atmosférica (PPDA).
          </p>
        </div>
        <div class="flex flex-col">
          <p class="my-8 xl:text-lg font-light max-w-md">
            Nos encargamos de la gestión en forma integral, y hacemos el
            seguimiento por el tiempo establecido en el compromiso.
          </p>
          <ul class="grid grid-cols-2 gap-x-8 gap-y-4 text-sm font-medium">
            <li>
              <i class="icon-line-arrow-right mr-2"></i>Estudio de factibilidad
              y gestión de terreno para compensaciones.
            </li>
            <li>
              <i class="icon-line-arrow-right mr-2"></i>Elaboración de PCE y
              presentación a la SEREMI.
            </li>
            <li>
              <i class="icon-line-arrow-right mr-2"></i>Ejecución de las medidas
              comprometidas.
            </li>
            <li>
              <i class="icon-line-arrow-right mr-2"></i>Monitoreos e informes
              para la autoridad.
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="text-verde">
      <h2
        class="text-2xl xl:text-3xl font-medium tracking-wide pt-16 text-center"
      >
        Flujo de trabajo
      </h2>
      <hr class="w-16 border-t-2 border-verde my-4 mx-auto" />
      <div
        class="etapas dark w-full max-w-screen-xl mx-auto flex flex-col xl:flex-row justify-around pt-12 pb-32 relative text-sm"
      >
        <div class="item">
          <img src="/img/emisiones/elementos/plancompensacion-02.png" />
          <p>
            Gestión de terrenos disponibles,<br /> según los criterios que <br
            />contempla la ley.
          </p>
          <span>1</span>
        </div>

        <div class="item">
          <img src="/img/emisiones/elementos/plancompensacion-03.png" />
          <p>Viverización según <br /> sea el caso.</p>
          <span>2</span>
        </div>

        <div class="item">
          <img src="/img/emisiones/elementos/plancompensacion-04.png" />
          <p>
            Elaboración y gestión de Planes <br /> de Manejo Forestal, Ley 20.283,<br
            /> DL 701, y DS 82.
          </p>
          <span>3</span>
        </div>

        <div class="item">
          <img src="/img/emisiones/elementos/plancompensacion-05.png" />
          <p>Ejecución de las medidas <br /> contempladas en el plan.</p>
          <span>4</span>
        </div>

        <div class="item">
          <img src="/img/emisiones/elementos/plancompensacion-06.png" />
          <p>Mantención, riego <br /> y monitoreo.</p>
          <span>5</span>
        </div>

        <div class="item">
          <img src="/img/emisiones/elementos/plancompensacion-07.png" />
          <p>Recepción final <br />ante Conaf.</p>
          <span>6</span>
        </div>
      </div>
    </section>

    <section
      id="indicadores"
      class="bg-verde bg-[url(/img/emisiones/plan_compensacion_emisiones-17.jpg)] bg-cover text-white text-center"
    >
      <div class="max-w-screen-xl mx-auto py-20">
        <h2 class="text-2xl xl:text-3xl font-medium tracking-wide">
          Indicadores de Éxito
        </h2>
        <hr class="w-16 border-t-2 border-white my-4 mx-auto" />

        <div class="grid grid-cols-2 mt-12 max-w-xl mx-auto">
          <div class="px-4 border-r">
            <img src="/img/emisiones/elementos/plancompensacion-08.png" />
            <div class="counter counter-lined">
              <span
                class="text-4xl font-bold"
                data-from="1"
                data-to="14"
                data-refresh-interval="50"
                data-speed="2000">14</span
              >
            </div>
            <h5>Total Proyectos</h5>
          </div>

          <div class="px-4">
            <img src="/img/emisiones/elementos/plancompensacion-09.png" />
            <div class="counter counter-lined">
              <span
                class="text-4xl font-bold"
                data-from="200"
                data-to="235"
                data-refresh-interval="100"
                data-speed="2500">235</span
              >
            </div>
            <h5>Total Hectáreas</h5>
          </div>
        </div>
      </div>
    </section>

    <Conversemos client:load />
  </main>

  <script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
      const counters = document.querySelectorAll(".counter span");

      const startCounter = (counter) => {
        const from = +counter.getAttribute("data-from");
        counter.innerText = from;
        const updateCount = () => {
          const target = +counter.getAttribute("data-to");
          const speed = +counter.getAttribute("data-speed");
          const interval = +counter.getAttribute("data-refresh-interval");
          const increment = target / (speed / 30);

          const count = +counter.innerText;
          if (count < target) {
            counter.innerText = Math.ceil(count + increment);
            setTimeout(updateCount, interval);
          } else {
            counter.innerText = target;
          }
        };
        updateCount();
      };

      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            counters.forEach((counter) => startCounter(counter));
            observer.unobserve(entry.target);
          }
        });
      });

      const section = document.getElementById("indicadores");
      if (section) {
        observer.observe(section);
      }
    });
  </script>

  <style>
    .etapas .item {
      text-align: center;
      position: relative;
      margin-bottom: 2rem;
    }
    .etapas span {
      font-size: 17px;
      line-height: 22px;
    }
    .etapas .item span {
      font-weight: bold;
      font-size: 22px;
    }
    .etapas img {
      width: 80px;
      height: 80px;
      margin: auto;
    }
    .etapas p {
      margin-top: 16px;
      margin-bottom: 16px;
    }
    @media (min-width: 1280px) {
      .etapas:after {
        content: "";
        display: block;
        height: 1px;
        width: 84%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 60px;
        background-image: -webkit-gradient(
          linear,
          left top,
          right top,
          color-stop(50%, transparent),
          color-stop(20%, #fff)
        );
        background-image: linear-gradient(to right, transparent 50%, #fff 20%);
        background-size: 20px 100%;
        margin-left: 9.5%;
      }
      .etapas .item:before {
        content: "";
        display: block;
        height: 12px;
        width: 1px;
        border: 1px solid;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -35px;
      }
      .etapas .item {
        margin-bottom: 0;
      }
      .etapas .item span {
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
      }
      .etapas img {
        width: 100px;
        height: 100px;
      }
      .etapas p {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    .etapas.dark:after {
      background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(50%, transparent),
        color-stop(20%, #375d3b)
      );
      background-image: linear-gradient(to right, transparent 50%, #375d3b 20%);
      margin-left: 10%;
      bottom: 92px;
    }

    #indicadores img {
      height: 80px;
      vertical-align: bottom;
      margin: auto;
      margin-bottom: 30px;
    }
    .porcentaje {
      display: inline;
      position: relative;
    }
  </style>
</Layout>
