---
import Menu from "../components/Menu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      class="bg-verde xl:bg-transparent xl:absolute top-0 w-full text-white pt-6"
    >
      <div class="max-w-screen-xl mx-auto flex justify-between items-center">
        <div id="overlay-menu-trigger" class="w-[150px] cursor-pointer">
          MENU<i class="icon-reorder pl-[5px] relative top-[2px]"></i>
        </div>
        <a href="/">
          <img
            src="/img/home/elementos/home-02.png"
            alt="Cultiva Logo"
            class="w-[150px]"
          />
        </a>
        <img
          src="/img/home/elementos/home-03.png"
          alt="Servicios Ambientales"
          class="w-[150px]"
        />
      </div>

      <Menu />
    </header>

    <slot />

    <footer class="bg-verde-oscuro text-white py-12">
      <div
        class="max-w-screen-xl mx-auto border-b pb-4 flex justify-between text-sm"
      >
        <div>
          <img
            src="/img/home/elementos/home-11.png"
            alt="Logo Cultiva"
            width="25"
          />
        </div>
        <div>
          <address class="not-italic">
            Santa Julia 514 <br /> Comuna de Ñuñoa, Santiago.
          </address>
        </div>
        <div>
          <p>+562 2226 7497 <br /> +562 2227 3458</p>
          <a href="mailto:servicioscompensacion@cultiva.cl"
            >servicioscompensacion@cultiva.cl</a
          >
        </div>
        <div>
          <img
            src="/img/menu/ESP-Latam-B-Corp-Logo-Tagline-Lockup-Esta-ndares-White-RGB.png"
            alt="empresa"
            width="180"
          />
        </div>
      </div>
    </footer>
  </body>
</html>

<script is:inline>
  // smooth scroll
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });

  // menu
  const overlayMenuTrigger = document.getElementById("overlay-menu-trigger");
  const overlayMenuClose = document.getElementById("overlay-menu-close");
  const overlayMenu = document.getElementById("overlay-menu");
  overlayMenuTrigger.addEventListener("click", () => {
    overlayMenu.classList.add("active");
    document.querySelector("body").style.overflow = "hidden";
  });
  overlayMenuClose.addEventListener("click", () => {
    overlayMenu.classList.remove("active");
    document.querySelector("body").style.overflow = "auto";
  });
</script>

<style is:global lang="scss">
  @font-face {
    font-family: "Maax";
    src: url("/fonts/Maax-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Maax";
    src: url("/fonts/Maax-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Maax";
    src: url("/fonts/Maax-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  body {
    font-family: "Maax", sans-serif;
  }

  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
  .bg-gradient {
    transition: all 0.3s ease-in-out;
    opacity: 0.85;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.85) 100%
    );
  }
  .columna {
    &:hover .bg-gradient {
      opacity: 1;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0,
        rgba(0, 0, 0, 0.85) 100%
      );
    }
  }
  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 20;
    display: none;
    justify-content: center;
    align-items: center;
    &.active {
      display: flex;
    }
  }
</style>
